body {
	background-color: #bab9b9;
}
#wrapper {
	background-color: #ddd;
	box-shadow: 3px 3px 3px #444;
	border-radius: 3px;
	margin: 0 auto;
	width: 565px;
	height: 500px;
	padding: 5px;
}
#inside-wrapper {
	width: 460px;
	height: 460px;
	margin: 19px auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
img {
	width: 140px;
	height: 105px;
	display: block;
	border: 3px solid #fff;
}
img:hover {
	cursor: pointer;
	display:inline-block;
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 1.5s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

}