#left-aside ul{
	float: left;
	list-style-type: none;
	border-top: 1px solid #afafaf;
	margin-top: 92px;
	font-family: "Trebuchet MS";
	display: inline-block;
}
	#left-aside ul li{
		margin-left: 10px;
		margin-top: 10px;
		margin-right: 50px;
	}
		#left-aside ul li a{
			text-decoration: none;
			color: #3172a5;
		}